<ng-container
  *ngIf="{
    movies: movies$ | async,
    isLoading: isLoading$ | async
  } as data"
>
  <div class="header">
    <div>
      <ui5-label for="name" required="" show-colon="">Movie name</ui5-label>
      <ui5-input
        id="name"
        required=""
        placeholder="Enter your name"
        style="--_ui5-input-icons-count: 1"
        #nameElement
      ></ui5-input>
    </div>

    <div>
      <ui5-label for="image" show-colon="">Image URL</ui5-label>
      <ui5-input
        id="image"
        placeholder="Enter your name"
        style="--_ui5-input-icons-count: 0"
        #imageElement
      >
      </ui5-input>
    </div>

    <ui5-button style="height: 50px" (click)="onCreateMovie()">
      Create movie
    </ui5-button>
  </div>

  <div class="container">
    <ui5-table id="table-2">
      <ui5-table-column slot="columns">
        <span style="line-height: 1.4rem">Id</span>
      </ui5-table-column>

      <ui5-table-column slot="columns" min-width="800">
        <span style="line-height: 1.4rem">Name</span>
      </ui5-table-column>

      <ui5-table-column slot="columns">
        <span style="line-height: 1.4rem">Image</span>
      </ui5-table-column>

      <ui5-table-column slot="columns">
        <span style="line-height: 1.4rem">Action</span>
      </ui5-table-column>

      <ui5-table-row *ngFor="let movie of data.movies">
        <ui5-table-cell>
          <ui5-label>{{ movie.id }}</ui5-label>
        </ui5-table-cell>

        <ui5-table-cell>
          <ui5-label *ngIf="isDisabled !== movie.id">{{
            movie.name
          }}</ui5-label>
          <ui5-label *ngIf="isDisabled === movie.id">
            <ui5-input
              id="name"
              required=""
              value="{{ movie.name }}"
              placeholder="Enter your name"
              style="--_ui5-input-icons-count: 1"
              #editNameElement
            ></ui5-input>
          </ui5-label>
        </ui5-table-cell>

        <ui5-table-cell>
          <ui5-label *ngIf="isDisabled === movie.id">
            <ui5-input
              id="name"
              required=""
              value="{{ movie.image }}"
              placeholder="Enter your name"
              style="--_ui5-input-icons-count: 1"
              #editImageElement
            ></ui5-input>
          </ui5-label>
          <ui5-label
            ><img src="{{ movie.image }}" alt="" width="100px" height="100px"
          /></ui5-label>
        </ui5-table-cell>

        <ui5-table-cell class="actions">
          <ui5-button (click)="onDeleteMovie(movie)">Delete</ui5-button>
          <ui5-button
            (click)="onAllowEdit(movie)"
            [disabled]="isDisabled === movie.id"
            >Edit</ui5-button
          >
          <ui5-button
            (click)="onUpdateMovie(movie)"
            [disabled]="isDisabled !== movie.id"
            >Save</ui5-button
          >
        </ui5-table-cell>
      </ui5-table-row>
    </ui5-table>
  </div>
</ng-container>
